server {
  listen {{ cloud_server_port }};
  server_name {{ cloud_server_name }};
  root {{ cloud_code_path }};


  location / {
    index index.php;
}

  location ~ \.php$ {
    fastcgi_pass 127.0.0.1:9000;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
 }
}
