{{ nfs_wecenter }} {{ nfs_share_ip }}(rw,sync,all_squash,anonuid=666,anongid=666)
{{ nfs_zrlog }} {{ nfs_share_ip }}(rw,sync,all_squash,anonuid=666,anongid=666)
{{ nfs_kodcloud }} {{ nfs_share_ip }}(rw,sync,all_squash,anonuid=666,anongid=666)
